<main class="page">
    <div class="page__section aside-section">
      <div class="aside-section__aside" data-spollers="768,max">
        <div class="aside-menu">
          <button class="aside-menu__title title-18" type="button" tabindex="-1" data-spoller>Category menu</button>
          <div class="aside-menu__body">
            <nav class="aside-menu__menu">
              <ul class="aside-menu__list">
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Bakery</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Fruit and vegetables</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Meat and fish</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Drinks</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Kitchen</a></li>
              </ul>
            </nav>
            <a class="aside-menu__btn btn btn_normal btn_gray btn_right" href="#">More categories</a>
          </div>
        </div>
      </div>
      <div class="aside-section__content">
        <div class="banners-section">
          <div class="banners-section__column">
            <div class="banner">
              <div class="banner__content">
                <div class="banner__label">Banner subfocus</div>
                <a class="banner__title title-22" href="#">Space for heading</a>
                <a class="banner__btn btn btn_normal btn_transparent btn_right">Read recepies</a>
              </div>
              <div class="banner__bg _ibg">
                <picture>
                  <source srcset="../assets/img/banner-bg.svg" type="image/webp">
                  <img src="./img/banner-bg.svg" alt="">
                </picture>
              </div>
            </div>
          </div>
          <div class="banners-section__column">
            <div class="banner">
              <div class="banner__content">
                <div class="banner__label">Banner subfocus</div>
                <a class="banner__title title-22" href="#">Space for heading</a>
                <a class="banner__btn btn btn_normal btn_transparent btn_right">Read recepies</a>
              </div>
              <div class="banner__bg _ibg">
                <picture>
                  <source srcset="../assets/img/banner-bg.svg" type="image/webp">
                  <img src="../assets/img/banner-bg.svg" alt="#"></picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page__section aside-section">
      <div class="aside-section__aside" data-spollers="768,max">
        <div class="aside-menu">
          <button class="aside-menu__title title-18" type="button" tabindex="-1" data-spoller>Best selling products
          </button>
          <div class="aside-menu__body">
            <nav class="aside-menu__menu">
              <ul class="aside-menu__list">
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Kitchen</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Meat and fish</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Special nutrition</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Pharmacy</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Baby</a></li>
              </ul>
            </nav>
            <a class="aside-menu__btn btn btn_normal btn_gray btn_right" href="#">More products</a>
          </div>
        </div>
      </div>
      <div class="aside-section__content">
        <div class="items-section items-section_grid">
          <div class="items-section__column">
            <div class="items-section__item item item_grid">
              <a class="item__img _ibg" href="details.html">
                <picture>
                  <source srcset="../assets/img/img1.webp" type="image/webp">
                  <img src="../assets/img/img1.jpg" alt="image"></picture>
                <div class="item__tags tags">
                  <div class="tags__tag tag tag_normal tag_green">- 36 %</div>
                </div>
              </a>
              <div class="item__content">
                <div class="item__main item-main">
                  <a class="item-main__title" href="details.html">Product title</a>
                  <div class="item-main__description">Space for a small product description</div>
                  <div class="item-main__rating item-rating">
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star"></div>
                  </div>
                  <div class="item-main__info item-info">
                    <div class="item-info__title">Fresheness</div>
                    <div class="item-info__text"><span>New</span> (Extra fresh)</div>
                    <div class="item-info__title">Farm</div>
                    <div class="item-info__text">Grocery Tarm Fields</div>
                    <div class="item-info__title">Delivery</div>
                    <div class="item-info__text">Europe</div>
                    <div class="item-info__title">Stock</div>
                    <div class="item-info__text"><span>320 pcs</span></div>
                  </div>
                </div>
                <div class="item__actions item-actions">
                  <div class="item-actions__buy-section">
                    <div class="item-actions__price-info">
                      <div class="item-actions__price">36.99 <span class="item-actions__currency">USD</span></div>
                      <div class="item-actions__old-price">48.56</div>
                    </div>
                    <a class="item-actions__buy btn btn_small btn_green" href="#">Buy now</a>
                  </div>
                  <div class="item-actions__shipping">
                    <div class="item-actions__shipping-title">Free Shipping</div>
                    <div class="item-actions__shipping-text">Delivery in 1 day</div>
                  </div>
                  <a class="item-actions__btn btn btn_normal btn_green btn_right" href="details.html">Product Detail</a>
                  <div class="item-actions__wish wish" data-checkbox>
                    <input class="wish__input" type="checkbox" name="wish">
                    <svg class="wish__heart" width="17" height="15" viewBox="0 0 17 15" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.54078 2.99411C10.1773 2.35759 11.0406 2 11.9408 2C12.841 2 13.7043 2.35759 14.3408 2.99411C14.9773 3.63063 15.3349 4.49394 15.3349 5.39411C15.3349 6.29429 14.9773 7.15759 14.3408 7.79411L13.4674 8.66744L8.66745 13.4674L3.86745 8.66744L2.99411 7.79411C2.35759 7.15759 2 6.29429 2 5.39411C2 4.49394 2.35759 3.63063 2.99411 2.99411C3.63063 2.35759 4.49394 2 5.39411 2C6.29429 2 7.15759 2.35759 7.79411 2.99411L8.66745 3.86745L9.54078 2.99411Z"
                            stroke="#151515" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="wish__text">Add to wish list</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="items-section__column">
            <div class="items-section__item item item_grid">
              <a class="item__img _ibg" href="details.html">
                <picture>
                  <source srcset="../assets/img/b1.webp" type="image/webp">
                  <img src="../assets/img/b1.jpg" alt="image"></picture>
                <div class="item__tags tags">
                  <div class="tags__tag tag tag_normal tag_green">- 36 %</div>
                </div>
              </a>
              <div class="item__content">
                <div class="item__main item-main">
                  <a class="item-main__title" href="details.html">Product title</a>
                  <div class="item-main__description">Space for a small product description</div>
                  <div class="item-main__info item-info">
                    <div class="item-info__title">Fresheness</div>
                    <div class="item-info__text"><span>New</span> (Extra fresh)</div>
                    <div class="item-info__title">Farm</div>
                    <div class="item-info__text">Grocery Tarm Fields</div>
                    <div class="item-info__title">Delivery</div>
                    <div class="item-info__text">Europe</div>
                    <div class="item-info__title">Stock</div>
                    <div class="item-info__text"><span>320 pcs</span></div>
                  </div>
                </div>
                <div class="item__actions item-actions">
                  <div class="item-actions__buy-section">
                    <div class="item-actions__price-info">
                      <div class="item-actions__price">36.99 <span class="item-actions__currency">USD</span></div>
                      <div class="item-actions__old-price">48.56</div>
                    </div>
                    <a class="item-actions__buy btn btn_small btn_green" href="#">Buy now</a>
                  </div>
                  <div class="item-actions__shipping">
                    <div class="item-actions__shipping-title">Free Shipping</div>
                    <div class="item-actions__shipping-text">Delivery in 1 day</div>
                  </div>
                  <a class="item-actions__btn btn btn_normal btn_green btn_right" href="details.html">Product Detail</a>
                  <div class="item-actions__wish wish" data-checkbox>
                    <input class="wish__input" type="checkbox" name="wish">
                    <svg class="wish__heart" width="17" height="15" viewBox="0 0 17 15" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.54078 2.99411C10.1773 2.35759 11.0406 2 11.9408 2C12.841 2 13.7043 2.35759 14.3408 2.99411C14.9773 3.63063 15.3349 4.49394 15.3349 5.39411C15.3349 6.29429 14.9773 7.15759 14.3408 7.79411L13.4674 8.66744L8.66745 13.4674L3.86745 8.66744L2.99411 7.79411C2.35759 7.15759 2 6.29429 2 5.39411C2 4.49394 2.35759 3.63063 2.99411 2.99411C3.63063 2.35759 4.49394 2 5.39411 2C6.29429 2 7.15759 2.35759 7.79411 2.99411L8.66745 3.86745L9.54078 2.99411Z"
                            stroke="#151515" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="wish__text">Add to wish list</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="items-section__column">
            <div class="items-section__item item item_grid">
              <a class="item__img _ibg" href="details.html">
                <picture>
                  <source srcset="../assets/img/b2.webp" type="image/webp">
                  <img src="../assets/img/b2.jpg" alt="image"></picture>
                <div class="item__tags tags">
                  <div class="tags__tag tag tag_normal tag_green">- 36 %</div>
                </div>
              </a>
              <div class="item__content">
                <div class="item__main item-main">
                  <a class="item-main__title" href="details.html">Product title</a>
                  <div class="item-main__description">Space for a small product description</div>
                  <div class="item-main__rating item-rating">
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star"></div>
                  </div>
                  <div class="item-main__info item-info">
                    <div class="item-info__title">Fresheness</div>
                    <div class="item-info__text"><span>New</span> (Extra fresh)</div>
                    <div class="item-info__title">Farm</div>
                    <div class="item-info__text">Grocery Tarm Fields</div>
                    <div class="item-info__title">Delivery</div>
                    <div class="item-info__text">Europe</div>
                    <div class="item-info__title">Stock</div>
                    <div class="item-info__text"><span>320 pcs</span></div>
                  </div>
                </div>
                <div class="item__actions item-actions">
                  <div class="item-actions__buy-section">
                    <div class="item-actions__price-info">
                      <div class="item-actions__price">36.99 <span class="item-actions__currency">USD</span></div>
                      <div class="item-actions__old-price">48.56</div>
                    </div>
                    <a class="item-actions__buy btn btn_small btn_green" href="#">Buy now</a>
                  </div>
                  <div class="item-actions__shipping">
                    <div class="item-actions__shipping-title">Free Shipping</div>
                    <div class="item-actions__shipping-text">Delivery in 1 day</div>
                  </div>
                  <a class="item-actions__btn btn btn_normal btn_green btn_right" href="details.html">Product Detail</a>
                  <div class="item-actions__wish wish" data-checkbox>
                    <input class="wish__input" type="checkbox" name="wish">
                    <svg class="wish__heart" width="17" height="15" viewBox="0 0 17 15" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.54078 2.99411C10.1773 2.35759 11.0406 2 11.9408 2C12.841 2 13.7043 2.35759 14.3408 2.99411C14.9773 3.63063 15.3349 4.49394 15.3349 5.39411C15.3349 6.29429 14.9773 7.15759 14.3408 7.79411L13.4674 8.66744L8.66745 13.4674L3.86745 8.66744L2.99411 7.79411C2.35759 7.15759 2 6.29429 2 5.39411C2 4.49394 2.35759 3.63063 2.99411 2.99411C3.63063 2.35759 4.49394 2 5.39411 2C6.29429 2 7.15759 2.35759 7.79411 2.99411L8.66745 3.86745L9.54078 2.99411Z"
                            stroke="#151515" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="wish__text">Add to wish list</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page__section aside-section">
      <div class="aside-section__aside" data-spollers="768,max">
        <div class="aside-menu">
          <button class="aside-menu__title title-18" type="button" tabindex="-1" data-spoller>Best from Farmers</button>
          <div class="aside-menu__body">
            <nav class="aside-menu__menu">
              <ul class="aside-menu__list">
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Carrots</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Tomatoes</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Potatoes</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Chicken</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Pork</a></li>
              </ul>
            </nav>
            <a class="aside-menu__btn btn btn_normal btn_gray btn_right" href="#">More products</a>
          </div>
        </div>
      </div>
      <div class="aside-section__content">
        <div class="items-section items-section_grid">
          <div class="items-section__column">
            <div class="items-section__item item item_grid">
              <a class="item__img _ibg" href="details.html">
                <picture>
                  <source srcset="../assets/img/b3.webp" type="image/webp">
                  <img src="../assets/img/b3.jpg" alt="image"></picture>
                <div class="item__tags tags">
                  <div class="tags__tag tag tag_normal tag_green">- 36 %</div>
                </div>
              </a>
              <div class="item__content">
                <div class="item__main item-main">
                  <a class="item-main__title" href="details.html">Product title</a>
                  <div class="item-main__description">Space for a small product description</div>
                  <div class="item-main__rating item-rating">
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star"></div>
                  </div>
                  <div class="item-main__info item-info">
                    <div class="item-info__title">Fresheness</div>
                    <div class="item-info__text"><span>New</span> (Extra fresh)</div>
                    <div class="item-info__title">Farm</div>
                    <div class="item-info__text">Grocery Tarm Fields</div>
                    <div class="item-info__title">Delivery</div>
                    <div class="item-info__text">Europe</div>
                    <div class="item-info__title">Stock</div>
                    <div class="item-info__text"><span>320 pcs</span></div>
                  </div>
                </div>
                <div class="item__actions item-actions">
                  <div class="item-actions__buy-section">
                    <div class="item-actions__price-info">
                      <div class="item-actions__price">36.99 <span class="item-actions__currency">USD</span></div>
                      <div class="item-actions__old-price">48.56</div>
                    </div>
                    <a class="item-actions__buy btn btn_small btn_green" href="#">Buy now</a>
                  </div>
                  <div class="item-actions__shipping">
                    <div class="item-actions__shipping-title">Free Shipping</div>
                    <div class="item-actions__shipping-text">Delivery in 1 day</div>
                  </div>
                  <a class="item-actions__btn btn btn_normal btn_green btn_right" href="details.html">Product Detail</a>
                  <div class="item-actions__wish wish" data-checkbox>
                    <input class="wish__input" type="checkbox" name="wish">
                    <svg class="wish__heart" width="17" height="15" viewBox="0 0 17 15" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.54078 2.99411C10.1773 2.35759 11.0406 2 11.9408 2C12.841 2 13.7043 2.35759 14.3408 2.99411C14.9773 3.63063 15.3349 4.49394 15.3349 5.39411C15.3349 6.29429 14.9773 7.15759 14.3408 7.79411L13.4674 8.66744L8.66745 13.4674L3.86745 8.66744L2.99411 7.79411C2.35759 7.15759 2 6.29429 2 5.39411C2 4.49394 2.35759 3.63063 2.99411 2.99411C3.63063 2.35759 4.49394 2 5.39411 2C6.29429 2 7.15759 2.35759 7.79411 2.99411L8.66745 3.86745L9.54078 2.99411Z"
                            stroke="#151515" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="wish__text">Add to wish list</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="items-section__column">
            <div class="items-section__item item item_grid">
              <a class="item__img _ibg" href="details.html">
                <picture>
                  <source srcset="../assets/img/b4.webp" type="image/webp">
                  <img src="../assets/img/b4.jpg" alt="image"></picture>
                <div class="item__tags tags">
                  <div class="tags__tag tag tag_normal tag_green">- 36 %</div>
                </div>
              </a>
              <div class="item__content">
                <div class="item__main item-main">
                  <a class="item-main__title" href="details.html">Product title</a>
                  <div class="item-main__description">Space for a small product description</div>
                  <div class="item-main__info item-info">
                    <div class="item-info__title">Fresheness</div>
                    <div class="item-info__text"><span>New</span> (Extra fresh)</div>
                    <div class="item-info__title">Farm</div>
                    <div class="item-info__text">Grocery Tarm Fields</div>
                    <div class="item-info__title">Delivery</div>
                    <div class="item-info__text">Europe</div>
                    <div class="item-info__title">Stock</div>
                    <div class="item-info__text"><span>320 pcs</span></div>
                  </div>
                </div>
                <div class="item__actions item-actions">
                  <div class="item-actions__buy-section">
                    <div class="item-actions__price-info">
                      <div class="item-actions__price">36.99 <span class="item-actions__currency">USD</span></div>
                      <div class="item-actions__old-price">48.56</div>
                    </div>
                    <a class="item-actions__buy btn btn_small btn_green" href="#">Buy now</a>
                  </div>
                  <div class="item-actions__shipping">
                    <div class="item-actions__shipping-title">Free Shipping</div>
                    <div class="item-actions__shipping-text">Delivery in 1 day</div>
                  </div>
                  <a class="item-actions__btn btn btn_normal btn_green btn_right" href="details.html">Product Detail</a>
                  <div class="item-actions__wish wish" data-checkbox>
                    <input class="wish__input" type="checkbox" name="wish">
                    <svg class="wish__heart" width="17" height="15" viewBox="0 0 17 15" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.54078 2.99411C10.1773 2.35759 11.0406 2 11.9408 2C12.841 2 13.7043 2.35759 14.3408 2.99411C14.9773 3.63063 15.3349 4.49394 15.3349 5.39411C15.3349 6.29429 14.9773 7.15759 14.3408 7.79411L13.4674 8.66744L8.66745 13.4674L3.86745 8.66744L2.99411 7.79411C2.35759 7.15759 2 6.29429 2 5.39411C2 4.49394 2.35759 3.63063 2.99411 2.99411C3.63063 2.35759 4.49394 2 5.39411 2C6.29429 2 7.15759 2.35759 7.79411 2.99411L8.66745 3.86745L9.54078 2.99411Z"
                            stroke="#151515" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="wish__text">Add to wish list</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="items-section__column">
            <div class="items-section__item item item_grid">
              <a class="item__img _ibg" href="details.html">
                <picture>
                  <source srcset="../assets/img/b5.webp" type="image/webp">
                  <img src="../assets/img/b5.jpg" alt="image"></picture>
                <div class="item__tags tags">
                  <div class="tags__tag tag tag_normal tag_green">- 36 %</div>
                </div>
              </a>
              <div class="item__content">
                <div class="item__main item-main">
                  <a class="item-main__title" href="details.html">Product title</a>
                  <div class="item-main__description">Space for a small product description</div>
                  <div class="item-main__rating item-rating">
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star item-rating__star_active"></div>
                    <div class="item-rating__star"></div>
                  </div>
                  <div class="item-main__info item-info">
                    <div class="item-info__title">Fresheness</div>
                    <div class="item-info__text"><span>New</span> (Extra fresh)</div>
                    <div class="item-info__title">Farm</div>
                    <div class="item-info__text">Grocery Tarm Fields</div>
                    <div class="item-info__title">Delivery</div>
                    <div class="item-info__text">Europe</div>
                    <div class="item-info__title">Stock</div>
                    <div class="item-info__text"><span>320 pcs</span></div>
                  </div>
                </div>
                <div class="item__actions item-actions">
                  <div class="item-actions__buy-section">
                    <div class="item-actions__price-info">
                      <div class="item-actions__price">36.99 <span class="item-actions__currency">USD</span></div>
                      <div class="item-actions__old-price">48.56</div>
                    </div>
                    <a class="item-actions__buy btn btn_small btn_green" href="#">Buy now</a>
                  </div>
                  <div class="item-actions__shipping">
                    <div class="item-actions__shipping-title">Free Shipping</div>
                    <div class="item-actions__shipping-text">Delivery in 1 day</div>
                  </div>
                  <a class="item-actions__btn btn btn_normal btn_green btn_right" href="details.html">Product Detail</a>
                  <div class="item-actions__wish wish" data-checkbox>
                    <input class="wish__input" type="checkbox" name="wish">
                    <svg class="wish__heart" width="17" height="15" viewBox="0 0 17 15" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.54078 2.99411C10.1773 2.35759 11.0406 2 11.9408 2C12.841 2 13.7043 2.35759 14.3408 2.99411C14.9773 3.63063 15.3349 4.49394 15.3349 5.39411C15.3349 6.29429 14.9773 7.15759 14.3408 7.79411L13.4674 8.66744L8.66745 13.4674L3.86745 8.66744L2.99411 7.79411C2.35759 7.15759 2 6.29429 2 5.39411C2 4.49394 2.35759 3.63063 2.99411 2.99411C3.63063 2.35759 4.49394 2 5.39411 2C6.29429 2 7.15759 2.35759 7.79411 2.99411L8.66745 3.86745L9.54078 2.99411Z"
                            stroke="#151515" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="wish__text">Add to wish list</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page__section slider-section">
      <div class="slider-section__headline section-headline">
        <div class="section-headline__title title-18">Our customers says</div>
        <a class="section-headline__btn btn btn_small btn_white btn_right" href="#">Button</a>
      </div>
      <div class="slider-section__slider comments-slider">
        <div class="comments-slider__body _swiper">
          <div class="comments-slider__item comments-slider-item">
            <div class="comments-slider-item__comment">“ This is an super space for your customers qoute. Don’t worry it
              works smooth as pie. You will get all what you need by writiing a text here “
            </div>
            <div class="comments-slider-item__author">Name and Surname</div>
            <div class="comments-slider-item__avatar _ibg">
              <picture>
                <source srcset="../assets/img/avatar1.webp" type="image/webp">
                <img src="../assets/img/avatar1.jpg" alt="avatar"></picture>
            </div>
          </div>
          <div class="comments-slider__item comments-slider-item">
            <div class="comments-slider-item__comment">“ This is an super space for your customers qoute. Don’t worry it
              works smooth as pie. You will get all what you need by writiing a text here “
            </div>
            <div class="comments-slider-item__author">Name and Surname</div>
            <div class="comments-slider-item__avatar _ibg">
              <picture>
                <source srcset="../assets/img/avatar2.webp" type="image/webp">
                <img src="../assets/img/avatar2.jpg" alt="avatar"></picture>
            </div>
          </div>
          <div class="comments-slider__item comments-slider-item">
            <div class="comments-slider-item__comment">“ This is an super space for your customers qoute. Don’t worry it
              works smooth as pie. You will get all what you need by writiing a text here “
            </div>
            <div class="comments-slider-item__author">Name and Surname</div>
            <div class="comments-slider-item__avatar _ibg">
              <picture>
                <source srcset="../assets/img/avatar3.webp" type="image/webp">
                <img src="../assets/img/avatar3.jpg" alt="avatar"></picture>
            </div>
          </div>
          <div class="comments-slider__item comments-slider-item">
            <div class="comments-slider-item__comment">“ This is an super space for your customers qoute. Don’t worry it
              works smooth as pie. You will get all what you need by writiing a text here “
            </div>
            <div class="comments-slider-item__author">Name and Surname</div>
            <div class="comments-slider-item__avatar _ibg">
              <picture>
                <source srcset="../assets/img/avatar4.webp" type="image/webp">
                <img src="../assets/img/avatar4.jpg" alt="avatar"></picture>
            </div>
          </div>
        </div>
        <div class="comments-slider__arrows slider-arrows">
          <div class="slider-arrows__arrow slider-arrows__arrow_prev _icon-slider-arrow"></div>
          <div class="slider-arrows__arrow slider-arrows__arrow_next _icon-slider-arrow"></div>
        </div>
      </div>
    </div>
    <div class="page__section section">
      <div class="section__headline section-headline">
        <div class="section-headline__title title-18">Section Headline</div>
        <a class="section-headline__btn btn btn_small btn_white btn_right" href="#">Button</a>
      </div>
      <div class="items-section items-section_grid">
        <div class="items-section__column">
          <div class="items-section__item item item_grid">
            <a class="item__img _ibg" href="details.html">
              <picture>
                <source srcset="../assets/img/b6.webp" type="image/webp">
                <img src="../assets/img/b6.jpg" alt="image"></picture>
              <div class="item__tags tags">
                <div class="item__tag tag tag_normal tag_green">- 36 %</div>
              </div>
            </a>
            <div class="item__content">
              <div class="item__main item-main">
                <a class="item-main__title" href="details.html">Product title</a>
                <div class="item-main__description">Space for a small product description</div>
                <div class="item-main__rating item-rating">
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star"></div>
                </div>
                <div class="item-main__info item-info">
                  <div class="item-info__title">Fresheness</div>
                  <div class="item-info__text"><span>New</span> (Extra fresh)</div>
                  <div class="item-info__title">Farm</div>
                  <div class="item-info__text">Grocery Tarm Fields</div>
                  <div class="item-info__title">Delivery</div>
                  <div class="item-info__text">Europe</div>
                  <div class="item-info__title">Stock</div>
                  <div class="item-info__text"><span>320 pcs</span></div>
                </div>
              </div>
              <div class="item__actions item-actions">
                <div class="item-actions__buy-section">
                  <div class="item-actions__price-info">
                    <div class="item-actions__price">36.99 <span class="item-actions__currency">USD</span></div>
                    <div class="item-actions__old-price">48.56</div>
                  </div>
                  <a class="item-actions__buy btn btn_small btn_green" href="#">Buy now</a>
                </div>
                <div class="item-actions__shipping">
                  <div class="item-actions__shipping-title">Free Shipping</div>
                  <div class="item-actions__shipping-text">Delivery in 1 day</div>
                </div>
                <a class="item-actions__btn btn btn_normal btn_green btn_right" href="details.html">Product Detail</a>
                <div class="item-actions__wish wish" data-checkbox>
                  <input class="wish__input" type="checkbox" name="wish">
                  <svg class="wish__heart" width="17" height="15" viewBox="0 0 17 15" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M9.54078 2.99411C10.1773 2.35759 11.0406 2 11.9408 2C12.841 2 13.7043 2.35759 14.3408 2.99411C14.9773 3.63063 15.3349 4.49394 15.3349 5.39411C15.3349 6.29429 14.9773 7.15759 14.3408 7.79411L13.4674 8.66744L8.66745 13.4674L3.86745 8.66744L2.99411 7.79411C2.35759 7.15759 2 6.29429 2 5.39411C2 4.49394 2.35759 3.63063 2.99411 2.99411C3.63063 2.35759 4.49394 2 5.39411 2C6.29429 2 7.15759 2.35759 7.79411 2.99411L8.66745 3.86745L9.54078 2.99411Z"
                          stroke="#151515" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span class="wish__text">Add to wish list</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="items-section__column">
          <div class="items-section__item item item_grid">
            <a class="item__img _ibg" href="details.html">
              <picture>
                <source srcset="../assets/img/b7.webp" type="image/webp">
                <img src="../assets/img/b7.jpg" alt="image"></picture>
              <div class="item__tags tags">
                <div class="item__tag tag tag_normal tag_green">- 36 %</div>
              </div>
            </a>
            <div class="item__content">
              <div class="item__main item-main">
                <a class="item-main__title" href="details.html">Product title</a>
                <div class="item-main__description">Space for a small product description</div>
                <div class="item-main__rating item-rating">
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star"></div>
                </div>
                <div class="item-main__info item-info">
                  <div class="item-info__title">Fresheness</div>
                  <div class="item-info__text"><span>New</span> (Extra fresh)</div>
                  <div class="item-info__title">Farm</div>
                  <div class="item-info__text">Grocery Tarm Fields</div>
                  <div class="item-info__title">Delivery</div>
                  <div class="item-info__text">Europe</div>
                  <div class="item-info__title">Stock</div>
                  <div class="item-info__text"><span>320 pcs</span></div>
                </div>
              </div>
              <div class="item__actions item-actions">
                <div class="item-actions__buy-section">
                  <div class="item-actions__price-info">
                    <div class="item-actions__price">36.99 <span class="item-actions__currency">USD</span></div>
                    <div class="item-actions__old-price">48.56</div>
                  </div>
                  <a class="item-actions__buy btn btn_small btn_green" href="#">Buy now</a>
                </div>
                <div class="item-actions__shipping">
                  <div class="item-actions__shipping-title">Free Shipping</div>
                  <div class="item-actions__shipping-text">Delivery in 1 day</div>
                </div>
                <a class="item-actions__btn btn btn_normal btn_green btn_right" href="details.html">Product Detail</a>
                <div class="item-actions__wish wish" data-checkbox>
                  <input class="wish__input" type="checkbox" name="wish">
                  <svg class="wish__heart" width="17" height="15" viewBox="0 0 17 15" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M9.54078 2.99411C10.1773 2.35759 11.0406 2 11.9408 2C12.841 2 13.7043 2.35759 14.3408 2.99411C14.9773 3.63063 15.3349 4.49394 15.3349 5.39411C15.3349 6.29429 14.9773 7.15759 14.3408 7.79411L13.4674 8.66744L8.66745 13.4674L3.86745 8.66744L2.99411 7.79411C2.35759 7.15759 2 6.29429 2 5.39411C2 4.49394 2.35759 3.63063 2.99411 2.99411C3.63063 2.35759 4.49394 2 5.39411 2C6.29429 2 7.15759 2.35759 7.79411 2.99411L8.66745 3.86745L9.54078 2.99411Z"
                          stroke="#151515" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span class="wish__text">Add to wish list</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="items-section__column">
          <div class="items-section__item item item_grid">
            <a class="item__img _ibg" href="details.html">
              <picture>
                <source srcset="../assets/img/b8.webp" type="image/webp">
                <img src="../assets/img/b8.jpg" alt="image"></picture>
              <div class="item__tags tags">
                <div class="item__tag tag tag_normal tag_green">- 36 %</div>
              </div>
            </a>
            <div class="item__content">
              <div class="item__main item-main">
                <a class="item-main__title" href="details.html">Product title</a>
                <div class="item-main__description">Space for a small product description</div>
                <div class="item-main__rating item-rating">
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star"></div>
                </div>
                <div class="item-main__info item-info">
                  <div class="item-info__title">Fresheness</div>
                  <div class="item-info__text"><span>New</span> (Extra fresh)</div>
                  <div class="item-info__title">Farm</div>
                  <div class="item-info__text">Grocery Tarm Fields</div>
                  <div class="item-info__title">Delivery</div>
                  <div class="item-info__text">Europe</div>
                  <div class="item-info__title">Stock</div>
                  <div class="item-info__text"><span>320 pcs</span></div>
                </div>
              </div>
              <div class="item__actions item-actions">
                <div class="item-actions__buy-section">
                  <div class="item-actions__price-info">
                    <div class="item-actions__price">36.99 <span class="item-actions__currency">USD</span></div>
                    <div class="item-actions__old-price">48.56</div>
                  </div>
                  <a class="item-actions__buy btn btn_small btn_green" href="#">Buy now</a>
                </div>
                <div class="item-actions__shipping">
                  <div class="item-actions__shipping-title">Free Shipping</div>
                  <div class="item-actions__shipping-text">Delivery in 1 day</div>
                </div>
                <a class="item-actions__btn btn btn_normal btn_green btn_right" href="details.html">Product Detail</a>
                <div class="item-actions__wish wish" data-checkbox>
                  <input class="wish__input" type="checkbox" name="wish">
                  <svg class="wish__heart" width="17" height="15" viewBox="0 0 17 15" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M9.54078 2.99411C10.1773 2.35759 11.0406 2 11.9408 2C12.841 2 13.7043 2.35759 14.3408 2.99411C14.9773 3.63063 15.3349 4.49394 15.3349 5.39411C15.3349 6.29429 14.9773 7.15759 14.3408 7.79411L13.4674 8.66744L8.66745 13.4674L3.86745 8.66744L2.99411 7.79411C2.35759 7.15759 2 6.29429 2 5.39411C2 4.49394 2.35759 3.63063 2.99411 2.99411C3.63063 2.35759 4.49394 2 5.39411 2C6.29429 2 7.15759 2.35759 7.79411 2.99411L8.66745 3.86745L9.54078 2.99411Z"
                          stroke="#151515" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span class="wish__text">Add to wish list</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="items-section__column">
          <div class="items-section__item item item_grid">
            <a class="item__img _ibg" href="details.html">
              <picture>
                <source srcset="../assets/img/img1.webp" type="image/webp">
                <img src="../assets/img/img1.jpg" alt="image"></picture>
              <div class="item__tags tags">
                <div class="item__tag tag tag_normal tag_green">- 36 %</div>
              </div>
            </a>
            <div class="item__content">
              <div class="item__main item-main">
                <a class="item-main__title" href="details.html">Product title</a>
                <div class="item-main__description">Space for a small product description</div>
                <div class="item-main__rating item-rating">
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star item-rating__star_active"></div>
                  <div class="item-rating__star"></div>
                </div>
                <div class="item-main__info item-info">
                  <div class="item-info__title">Fresheness</div>
                  <div class="item-info__text"><span>New</span> (Extra fresh)</div>
                  <div class="item-info__title">Farm</div>
                  <div class="item-info__text">Grocery Tarm Fields</div>
                  <div class="item-info__title">Delivery</div>
                  <div class="item-info__text">Europe</div>
                  <div class="item-info__title">Stock</div>
                  <div class="item-info__text"><span>320 pcs</span></div>
                </div>
              </div>
              <div class="item__actions item-actions">
                <div class="item-actions__buy-section">
                  <div class="item-actions__price-info">
                    <div class="item-actions__price">36.99 <span class="item-actions__currency">USD</span></div>
                    <div class="item-actions__old-price">48.56</div>
                  </div>
                  <a class="item-actions__buy btn btn_small btn_green" href="#">Buy now</a>
                </div>
                <div class="item-actions__shipping">
                  <div class="item-actions__shipping-title">Free Shipping</div>
                  <div class="item-actions__shipping-text">Delivery in 1 day</div>
                </div>
                <a class="item-actions__btn btn btn_normal btn_green btn_right" href="details.html">Product Detail</a>
                <div class="item-actions__wish wish" data-checkbox>
                  <input class="wish__input" type="checkbox" name="wish">
                  <svg class="wish__heart" width="17" height="15" viewBox="0 0 17 15" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M9.54078 2.99411C10.1773 2.35759 11.0406 2 11.9408 2C12.841 2 13.7043 2.35759 14.3408 2.99411C14.9773 3.63063 15.3349 4.49394 15.3349 5.39411C15.3349 6.29429 14.9773 7.15759 14.3408 7.79411L13.4674 8.66744L8.66745 13.4674L3.86745 8.66744L2.99411 7.79411C2.35759 7.15759 2 6.29429 2 5.39411C2 4.49394 2.35759 3.63063 2.99411 2.99411C3.63063 2.35759 4.49394 2 5.39411 2C6.29429 2 7.15759 2.35759 7.79411 2.99411L8.66745 3.86745L9.54078 2.99411Z"
                          stroke="#151515" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span class="wish__text">Add to wish list</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page__section section">
      <div class="section__headline section-headline">
        <div class="section-headline__title title-18">Read our Blog posts</div>
        <a class="section-headline__btn btn btn_small btn_white btn_right" href="blogs.html">Button</a>
      </div>
      <div class="main-blogs">
        <div class="main-blogs__main">
          <div class="main-blogs__item-blog item-blog item-blog_card">
            <a class="item-blog__img _ibg" href="blog.html">
              <picture>
                <source srcset="../assets/img/img1.webp" type="image/webp">
                <img src="../assets/img/img1.jpg" alt="image"></picture>
            </a>
            <div class="item-blog__content">
              <div class="item-blog__tags tags">
                <div class="tags__tag tag tag_normal tag_green">Dinner tips</div>
              </div>
              <a class="item-blog__title title-22" href="#">Our chef tips for a great and tasty dinner ready in 20
                minutes</a>
              <div class="item-blog__info">
                <div class="item-blog__author author">
                  <div class="author__aratar _ibg">
                    <picture>
                      <source srcset="../assets/img/avatar1.webp" type="image/webp">
                      <img src="../assets/img/avatar1.jpg" alt="avatar"></picture>
                  </div>
                  <div class="author__name">Author</div>
                </div>
                <div class="item-blog__date">17. 6. 2020</div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-blogs__middle">
          <div class="main-blogs__item-blog item-blog item-blog_grid">
            <a class="item-blog__img _ibg" href="blog.html">
              <picture>
                <source srcset="../assets/img/b3.webp" type="image/webp">
                <img src="../assets/img/b3.jpg" alt="image"></picture>
            </a>
            <div class="item-blog__content">
              <div class="item-blog__tags tags">
                <div class="tags__tag tag tag_normal tag_green">Vegetable</div>
              </div>
              <a class="item-blog__title title-22" href="#">Which vegetable your family will love and want’s eat each
                day</a>
              <div class="item-blog__info">
                <div class="item-blog__author author">
                  <div class="author__name">Author</div>
                </div>
                <div class="item-blog__date">17. 6. 2020</div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-blogs__list">
          <div class="main-blogs__item-blog item-blog item-blog_line">
            <a class="item-blog__img _ibg" href="blog.html">
              <picture>
                <source srcset="../assets/img/b6.webp" type="image/webp">
                <img src="../assets/img/b6.jpg" alt="image"></picture>
            </a>
            <div class="item-blog__content">
              <div class="item-blog__tags tags">
              </div>
              <a class="item-blog__title title-22" href="#">Salat is kinda good start to your morning routines</a>
              <div class="item-blog__info">
                <div class="item-blog__author author">
                  <div class="author__name">Author</div>
                </div>
                <div class="item-blog__date">17. 6. 2020</div>
              </div>
            </div>
          </div>
          <div class="main-blogs__item-blog item-blog item-blog_line">
            <a class="item-blog__img _ibg" href="blog.html">
              <picture>
                <source srcset="../assets/img/b7.webp" type="image/webp">
                <img src="../assets/img/b7.jpg" alt="image"></picture>
            </a>
            <div class="item-blog__content">
              <div class="item-blog__tags tags">
              </div>
              <a class="item-blog__title title-22" href="#">Our chef tips for a great and healthy breakfast</a>
              <div class="item-blog__info">
                <div class="item-blog__author author">
                  <div class="author__name">Author</div>
                </div>
                <div class="item-blog__date">17. 6. 2020</div>
              </div>
            </div>
          </div>
          <div class="main-blogs__item-blog item-blog item-blog_line">
            <a class="item-blog__img _ibg" href="blog.html">
              <picture>
                <source srcset="../assets/img/b8.webp" type="image/webp">
                <img src="../assets/img/b8.jpg" alt="image"></picture>
            </a>
            <div class="item-blog__content">
              <div class="item-blog__tags tags">
              </div>
              <a class="item-blog__title title-22" href="#">Prepare a simple and delicious breads</a>
              <div class="item-blog__info">
                <div class="item-blog__author author">
                  <div class="author__name">Author</div>
                </div>
                <div class="item-blog__date">17. 6. 2020</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>