<footer class="footer">
    <div class="footer__main footer-main" data-spollers="768,max" data-spollers data-spollers-single>
      <div class="footer-main__item footer-main-item">
        <button class="footer-main-item__title title-18" type="button" tabindex="-1" data-spoller>Get in touch</button>
        <ul class="footer-main-item__list">
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">About Us</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Careers</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Press Releases</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Blog</a></li>
        </ul>
      </div>
      <div class="footer-main__item footer-main-item">
        <button class="footer-main-item__title title-18" type="button" tabindex="-1" data-spoller>Connections</button>
        <ul class="footer-main-item__list">
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Facebook</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Twitter</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Instagram</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Youtube</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">LinkedIn</a></li>
        </ul>
      </div>
      <div class="footer-main__item footer-main-item">
        <button class="footer-main-item__title title-18" type="button" tabindex="-1" data-spoller>Earnings</button>
        <ul class="footer-main-item__list">
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Become an Affiliate</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Advertise your product</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Sell on Market</a></li>
        </ul>
      </div>
      <div class="footer-main__item">
        <button class="footer-main-item__title title-18" type="button" tabindex="-1" data-spoller>Account</button>
        <ul class="footer-main-item__list">
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Your account</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Returns Centre</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">100 % purchase protection</a>
          </li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Chat with us</a></li>
          <li class="footer-main-item__item"><a class="footer-main-item__link" href="#">Help</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__tags footer-tags" data-spollers="768,max" data-one-spoller>
      <div class="footer-tags__item">
        <button class="footer-tags__title title-18" type="button" tabindex="-1" data-spoller>Product tags</button>
        <div class="footer-tags__slide">
          <div class="footer-tags__body">
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Beans</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Carrots</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Apples</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Garlic</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Mushrooms</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Tomatoes</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Chilli peppers</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Broccoli</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Watermelons</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Oranges</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Bananas</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Grapes</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Cherries</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Meat</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Seo tag</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Fish</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Seo tag</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Fresh food</a>
            <a class="footer-tags__tag tag tag_big tag_gray" href="#">Lemons</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      Copyright © 2020 <a href="#">petrbilek.com</a>
    </div>
  </footer>